NODE_ENV=production
PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=u616274976_capilar_user
DB_PASSWORD=Capilar2024
DB_DATABASE=u616274976_capilar_shopping

FRONTEND_URL=https://lemonchiffon-goldfish-284566.hostingersite.com

MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=